<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--<link rel="stylesheet" href="../css/bootstrap.min.css">-->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
	<!--  <link rel="stylesheet" href="../vendors/datatables/datatables.min.css"/>-->
	<link rel="stylesheet" href="/vendors/datatables/dataTables.bootstrap5.min.css"/>
	<link rel="stylesheet" href="/vendors/datatables/Buttons-1.7.0/css/buttons.dataTables.min.css"/>
	<link href="/vendors/fontawesome/css/all.css" rel="stylesheet">
	<link rel="shortcut icon" href="/assets/images/favicon.ico">
	<title>Example</title>

	<style>
      .dropdown-menu .dropdown-menu {
          top: auto;
          left: 100%;
          transform: translateY(-2rem);
      }
      .dropdown-item + .dropdown-menu {
          display: none;
      }
      .dropdown-item.submenu::after {
          content: '▸';
          margin-left: 0.5rem;
      }
      .dropdown-item:hover + .dropdown-menu,
      .dropdown-menu:hover {
          display: block;
      }
	</style>
</head>
<body style="background-color: rgba(0,47,99,0.26)">
<header>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<div class="container-fluid">
			<a class="navbar-brand" href="/">Example</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNavDropdown">
				<ul class="navbar-nav">
            {{range .Navbar.Navs}}
                {{if .SubMenus}}
									<li class="nav-item dropdown">
										<a class="nav-link dropdown-toggle" href="#" id="{{ .Item.Id}}" role="button" data-toggle="dropdown" aria-expanded="false">{{ .Item.Name}}</a>
										<ul class="dropdown-menu" aria-labelledby="{{ .Item.Id}}">
                        {{range .SubMenus}}
                            {{if .SubItems}}
															<li class="dropdown">
																<a class="dropdown-item submenu" href="#" role="menu" data-toggle="dropdown" aria-expanded="false" id="{{ .Item.Id}}">{{ .Item.Name}}</a>
																<ul class="dropdown-menu" aria-labelledby="{{ .Item.Id}}">
                                    {{range .SubItems}}
																			<li><a class="dropdown-item" href="{{ .Url}}">{{ .Name}}</a></li>
                                    {{end}}
																</ul>
															</li>
                            {{else}}
															<li><a class="dropdown-item" href="{{ .Url}}">{{ .Name}}</a></li>
                            {{end}}
                        {{end}}
										</ul>
									</li>
                {{else}}
									<li class="nav-item">
                      {{if .Item.Active}}
												<a class="nav-link active" aria-current="page" href="{{ .Item.Url}}">{{ .Item.Name}}</a>
                      {{else}}
												<a class="nav-link" href="{{ .Item.Url}}">{{ .Item.Name}}</a>
                      {{end}}
									</li>
                {{end}}
            {{end}}
				</ul>
				<form class="d-flex justify-content-end">
					<input class="form-control me-2" type="search" placeholder="Поиск" aria-label="Поиск">
					<button class="btn btn-outline-success" type="submit">Поиск</button>
				</form>
				<ul class="nav navbar-nav">
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="username" role="button" data-toggle="dropdown" aria-expanded="false">{{ .Username}}</a>
						<ul class="dropdown-menu" aria-labelledby="username">
							<li><a class="dropdown-item" href="/settings">Настройки</a></li>
							<li><a class="dropdown-item" href="/logout">Выход</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</nav>
</header>
{{embed}}
</body>
</html>