{{define "scripts"}}
<script src="/assets/js/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
<script src="/vendors/datatables/datatables.min.js"></script>
<script src="/vendors/datatables/dataTables.bootstrap5.min.js"></script>
<script>
    footer();
    function footer(){
        let date = new Date();
        $('#company').text(`Говорухин Егор, Отдел Телефонной Связи. Copyright ${date.getFullYear()}`);
    }
    //Вешаем на меню открытие при наведении
    /*$('ul > li').hover(function() {
        $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeIn();
    }, function() {
        $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeOut();
    })*/

    /*function logout() {
        fetch("/logout", {
            method: 'POST'
        }).then(resp => {
            resp.text().then(text => {
                if (text === "OK") {
                    location.href = '/login';
                    return
                }
                alert(text);
            });
        }).catch(reason => {
            alert(reason.text);
        });
    }*/
</script>
{{end}}