<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--<link rel="stylesheet" href="/css/bootstrap.min.css">-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
  <!--  <link rel="stylesheet" href="/vendors/datatables/datatables.min.css"/>-->
  <link rel="stylesheet" href="/vendors/datatables/dataTables.bootstrap5.min.css"/>
  <link rel="stylesheet" href="/vendors/datatables/Buttons-1.7.0/css/buttons.dataTables.min.css"/>
  <link href="/vendors/fontawesome/css/all.css" rel="stylesheet">
  <link rel="shortcut icon" href="/assets/images/favicon.ico">
  <title>Example</title>
</head>
<body style="background-color: rgba(0,47,99,0.26)">
<div class="col card mb-3">
  <img src="/assets/images/error_min.png" class="card-img-top">
  <div class="card-body">
    <h5 class="card-title">{{ .Code}}</h5>
    <p class="card-text">{{ .Text }}</p>
    <!--<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>-->
  </div>
</div>
</body>
</html>